body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: url('1.jpg' )no-repeat;
    background-size: 100% 100vh;
    background-blend-mode: overlay;
    background-color: rgb(46, 46, 46);
    
}

body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 75);
    border-radius: 20px;
  }

a{
    text-decoration: none;
    color: white;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}
#menu li{
    margin: 10px 35px;
    list-style-type: none;
}

#menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#logo{
    margin-left: 30px;
    width: 50px;
}
#container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 50px;
    color: white;
}
#tituloSa{
    font-size: 6rem;
}
#text{
    margin-top: -60px;
}
#linkExplore{
    color: black;
}
#botaoe{
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-left: 30px;  
}
#container2{
    display: grid;
    grid-template-areas: "caixa1 caixa2"
                         "caixa3 caixa4";
                         row-gap: 20px;
}
#container2 img{
    border-radius: 15px;
    width: 250px;
    height: 255px;
}